doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css")
        title Form Status
    body.w-full.min-h-screen.bg-gradient-to-r.from-green-50.to-green-100
        div(class = "m-auto lg:w-3/4 xl:w-3/5 w-11/12 rounded-lg border-4 border-gray-400 bg-blue-500 xl:mt-20 lg:mt-10 mt-5 border-t-8 border-l-8 py-5 px-8")
            p(class = "text-white text-lg lg:text-2xl xl:text-4xl font-bold mb-5")
                = status 
            p(class=" text-red-100 font-semibold text-lg")
                |Visit our site 
                a(href = link target="_blank" class=" hover:text-red-600")
                    |EasyForm